/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {


	nav span {
		flex: 0 auto;
		text-align: center;
		display: block;
		padding: 1.5rem;
	}

	nav span a {
		color: black;
	}


	/* Ordre mobile */
	#nav-logo {
		margin-top: 3px;
		order: 0;
		margin-right: auto;
	}
	#nav-item-3 {
		order: 0;
	}

	/* S'inscrire format */
	#nav-item-3 a {
		margin-top: 3px;
		font-weight: bold;
		color: #0065FC;
	}

	/* Border */
	#nav-item-1 {
		border: 0;
		border-top: 3px solid #0065FC;
	}

	#nav-item-2 {
		margin-top: 3px;
		border: 0;
	}

}

@media (min-width: 1025px) {

}