/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

	body {
		width: 1400px;
		margin: auto;
	}
	nav {
		margin-top: 0;
	}

	nav span {
		flex: 0 auto;
		text-align: center;
		display: block;
		padding: 1.5rem;
	}

	nav span a {
		color: black;
	}


	/* Ordre mobile */
	#nav-logo {
		margin-top: 3px;
		order: 0;
		margin-right: auto;
		padding: 1.5rem;
	}
	#nav-item-3 {
		order: 0;
		padding: 1.5rem;
	}

	/* S'inscrire format */
	#nav-item-3 a {
		margin-top: 3px;
		font-weight: bold;
		color: #0065FC;
	}

	/* Border */
	#nav-item-1 {
		border: 0;
		border-top: 3px solid #0065FC;
	}

	#nav-item-2 {
		margin-top: 3px;
		border: 0;
	}



	/* --- Header text --- */

	#header-text {
		margin-top : 0;
	}



	/* --- Form / Search bar --- */
	#header-search {
		display: inline-flex;
		justify-content: flex-start;
	}

	#header-search form {
		width: auto;
	}

	.form-item {
		flex-grow: 0;
	}

	#form-picto {
		font-size: 1.2em;
	}

	#form-searchfield {
		font-size: 1.2em;
	}

	#form-text-btn {
		display: block;
		border: 1px solid #0065FC;
		border-radius: 0 20px 20px 0;
		font-size: 1em;
		font-weight: bold;
		font-size: 1.2em;
	}
	#form-picto-btn {
		display: none;
	}
		



	/* ---- Fltres ---- */

	#header-filtres {
		flex-direction: row;
		align-items: center;
	}



	#header-filtres h3 {
		margin: 0 1.5em 0 0;
	}

	#header-filtres li {
		margin: 0 1.5em 0 0;
	}



	/* ---- Infos ---- */

	#header-infos {
		align-items: center;
	}





	/* ---- Hébergement ---- */

	#herbergements {
		flex-direction: row;
		justify-content: space-around;
	}

	#hebergements-results-title {
		margin-bottom: 0;
	}

	#hebergements-results {
		background-color: #F2F2F2;
		border-radius: 20px;
		margin: 1em;
		width: 880px;
		height: 625px;
		padding: 1em;
	}
		#hebergements-r {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin: 0;

		}

		.hebergement {
			margin: 1em;
			width: 245px;
		}	
		.hebergement img {
			width: 235px;
			height: 115px;
		}	

		
		#hebergements-results #show-more {
			margin-top: 1em;
		}


	#hebergements-populaires {
		order: 1;
		border-radius: 20px;
		margin: 1em;
		width: 420px;
		height: 625px;
		align-content: space-around;
		padding: 1em;
	}

		.hebergement-populaire {
			margin-bottom: 2em;
		}


	/* ---- Activités ---- */

	#activites {
		flex-direction: row;
	}

	#activites-results {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.activite {
		width: 300px;
	}

	/* image activité */
	.activite img {
		width: 300px;
	}

	.activite:nth-child(1) img {
		height: 390px;
	}

	.activite:nth-child(2) img {
		height: 180px;
		align-self: flex-start;
	}

	.activite:nth-child(3) img {
		height: 110px;
		align-self: flex-end;
	}


}

@media (min-width: 1025px) {

}